@import "Tooltip.scss";

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App {
  text-align: center;
  background-color: midnightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
  :hover {
    color: violet;
    cursor: pointer;
  }
}

.social-badge {
  margin: 0.2rem;
  toolti: "test";
}

a:link,
a:visited,
a:hover {
  color: antiquewhite;
}

.footer {
  position: fixed;
  align-content: center;
  bottom: 0%;
  width: 100%;
  background-color: #0c0c3a;
  font-size: 2.5rem;
  color: antiquewhite;
}
