@import "Tooltip.scss";
@import "colors.scss";
@import "Border.scss";

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App {
  text-align: center;
  background-color: $dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $light;
  padding-top: $header-height + 1.5rem;
  padding-bottom: $footer-height + 0.5rem;
}

.link {
  color: $light;
  :hover {
    color: $accent;
    cursor: pointer;
  }
}

.social-badge {
  margin: 0rem 0.2rem;
}

a:link,
a:visited {
  color: $light;
}
a:hover {
  color: $accent;
}

#main-body,
#main-body > .col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  width:100%;
}

.main-column{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;

}

#blurb {
  font-size: 1.5rem;
}

.resume {
  align-items: center;
  white-space: pre-wrap;
  font-size: 1rem;
}
