.experience-button {
  margin: 0.5rem;
}

#blurb{
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.content {
  .content-text {
    white-space: pre-line;
    font-size: 1.5rem;
  }
  // max-width: 40%;
}