// https://coolors.co/177bb5-ffd700-faebd7-696a70-1a1d2d

$dark: #1a1d2d;
$halfdark: #696a70;
$light: antiquewhite;
$accent: #ffd700;
$accent2: #f082f0;
$main: #177bb5;

:export {
  accent: $accent;
  accent2: $accent2;
  dark: $dark;
  halfdark: $halfdark;
  light: $light;
  maincolor: $main;
}
